# --- Backend (Gradle / Java) ---
backend/ecommerce/.gradle/
backend/ecommerce/build/
backend/ecommerce/bin/
backend/ecommerce/out/
*.class
*.log
.idea/
*.iml

# --- Frontend (Angular / Node) ---
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/coverage/
npm-debug.log*

# --- Editor / OS ---
.vscode/
.DS_Store
Thumbs.db

# --- Docker volúmenes locales (si se usan bind mounts) ---
oracle-data/
